/* Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Global styles */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global styles */

.heading-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.heading-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Header */

.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
  display: inline-block;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.active:active:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* Header content */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 48px;
}

.hero-button {
  min-width: 169px;
  display: block;
  margin: auto;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.core-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.core-item {
  width: 264px;
  display: block;
}

.team-section {
  background-color: #f4f4fd;
}

.team-member-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-member-card-text {
  padding: 32px 0;
}

.team-member-card {
  text-align: center;
  flex-basis: calc((100% - 72px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.project-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}
